:root {
  --body-bg-color: #ffffff;
  --body-text-color: #434455;
  --primary-brand: #4d5ae5;
  --logo-studio-footer: #f4f4fd;
  --text-color: #2e2f42;
  --team-bg-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --shadow: rgba(0, 0, 0, 0.08);
  --box-shadow: rgba(0, 0, 0, 0.15);
  --btn-hover: rgba(0, 0, 0, 0.12);
  --btn-hover-color: rgba(0, 0, 0, 0.1);
  --personal-color: rgba(46, 47, 66, 0.08);
  --personal: rgba(46, 47, 66, 0.16);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

header .container {
  display: flex;
  box-sizing: border-box;
  background: var(--body-bg-color);
  box-shadow: 0px 2px 1px var(--personal-color), 0px 1px 1px var(--personal),
    0px 1px 6px var(--personal-color);
    padding-top: 24px;
    padding-bottom: 24px;
}

.container {
  display: flex;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--body-text-color);
  width: 1440px;
  margin: auto;
  box-shadow: 0px 2px 1px var(--personal-color), 0px 1px 1px var(--personal),
  0px 1px 6px var(--personal-color);
}

.web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-brand);
  letter-spacing: 0.03em;
}

.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--text-color);
  letter-spacing: 0.03em;
  padding-right: 77px;
}

.navigation {
  display: flex;
  flex-direction: row;
  padding-left: 156px;
  gap: 32px;
}

.contacts {
  display: flex;
  flex-direction: row;
  padding-left: 331px;
  padding-right: 156px;
  gap: 32px;
}

.menu {
  display: flex;
  flex-direction: row;
  padding: 96px 474px 72px;
  gap: 24px;
}

.link-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}

.link-tel,
.link-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
}

.link-mail:hover {
  color: var(--primary-brand);
}

.link-tel:hover {
  color: var(--primary-brand);
}

.hero {
  background: var(--text-color);
}

.solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  color: var(--body-bg-color);
  padding: 192px 474px 0px 474px;
}

.button-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--body-bg-color);
  display: flex;
  flex-direction: row;
  padding: 16px 32px;
  gap: 10px;
}

.button {
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px var(--box-shadow);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  color: var(--body-bg-color);
  letter-spacing: 0.04em;
  margin: 48px 635px 192px;
  padding: 16px 28px;
}

.btn {
  background: var(--logo-studio-footer);
  border: 1px solid var(--footer-text-color);
  border-radius: 4px;
}

.btn-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-brand);
  letter-spacing: 0.04em;
  padding: 12px 24px;
}

.btn:hover {
  background: var(--primary-brand);
  box-shadow: 0px 3px 1px var(--btn-hover-color), 0px 2px 1px var(--shadow),
    0px 2px 2px var(--btn-hover);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-bg-color);
}

button:hover {
  background: var(--primary-brand);
}

a:hover {
  color: var(--body-text-color);
}

a:focus {
  color: var(--primary-brand);
}

.background-team {
  background: var(--logo-studio-footer);
}

.section-text {
  margin: 72px 156px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.content-menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0px 156px 48px;
  
}

.content {
  width: 360px;
  height: 420px;
  background: var(--body-bg-color);
  border: 0.5px solid var(--logo-studio-footer);
  box-shadow: 0px 1px 6px var(--personal-color);
  text-align: center;
}

.feature {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--text-color);
  letter-spacing: 0.02em;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
  letter-spacing: 0.02em;
}

.title-what {
  font-size: 36px;
  line-height: 1.11;
  color: var(--text-color);
  letter-spacing: 0.02em;
  padding: 0px 558px 0px;
}

.title-team {
  font-size: 36px;
  line-height: 1.11;
  color: var(--text-color);
  letter-spacing: 0.02em;
  padding: 120px 638px 72px;
}

.our-team {
  display: flex;
  flex-direction: row;
  padding: 0px 156px 120px;
  gap: 24px;
}

.personal {
  width: 264px;
  height: 380px;
  background: var(--body-bg-color);
  box-shadow: 0px 1px 6px var(--personal-color), 0px 1px 1px var(--personal),
    0px 2px 1px var(--personal-color);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
}

.project-card {
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

footer {
  background: var(--text-color);

}

.logo {
  padding: 100px 1020px 100px 156px;
}

.footer-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-brand);
  letter-spacing: 0.03em;
}

.footer-studio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: var(--logo-studio-footer);
  letter-spacing: 0.03em;
}

.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);
  letter-spacing: 0.02em;
}
